# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.**

# .tfvars files
*.tfvars

# Crash log files
crash.log
crash.*.log

# Terraform lock files
.terraform.lock.hcl

# Exclude all .tfplan files
*.tfplan

# Exclude CLI configuration files
.terraformrc
terraform.rc

# VS Code settings
.vscode/

# PEM key files
*.pem
